<nav class="site-nav">
  <div class="container container--wide">
    <a href="/index.html" class="site-nav-brand">RF-Hub</a>
    <ul class="site-nav-links">
      <li><a href="/index.html" data-nav="home">Home</a></li>
      <li><a href="/pages/frequency-bands.html" data-nav="spectrum">Spectrum</a></li>
      <li><a href="/pages/antennas.html" data-nav="antennas">Antennas</a></li>
      <li><a href="/pages/learning-path.html" data-nav="learn">Learn</a></li>
      <li><a href="/pages/sidebands/" data-nav="sidebands">Sidebands</a></li>
      <li><a href="/pages/gsm-cellular.html" data-nav="gsm">GSM</a></li>
      <li><a href="/pages/blog/" data-nav="blog">Blog</a></li>
      <li><a href="/pages/study/" data-nav="study">Study</a></li>
      <li><a href="/pages/exam-practice/" data-nav="exams">Exams</a></li>
      <li><a href="/pages/about.html" data-nav="about">About</a></li>
    </ul>
  </div>
</nav>
